h1 {
    text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 21px;
}

p1 {
  font-size: 21px;
} 
body {
    background-color: rgb(255, 255, 255);
  }


/* Style of the nav bar */
nav {
    background-color: #353132;
    color: white;
    text-align: center;
    padding: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}

/* Define Center*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


